.login{
    display: grid;
    place-items: center;
    background-color: black;
    height: 100vh;
}

.login > img{
   width: 100%;
}

.login > a{
    padding: 20px;
    border-radius: 99px;
    color: whitesmoke;
    background-color: #4fd67e;
    font-weight: 800;
    text-decoration: none;
    transition: all 0.2s ease-in;
}
.login > a:hover{
    transform:translate(-1px,-1px);
    background-color: #1db954;
    color: white;
}